# Portable Node.js downloaded by build.sh
.tools/

# Photos/videos in photo/ not referenced by slides.md
photo/IMG_0648.HEIC
photo/IMG_0648.jpg
photo/IMG_0650.HEIC
photo/IMG_0650.jpg
photo/IMG_0652.MOV
photo/IMG_0654.MOV
photo/IMG_0656.MOV
photo/IMG_0657.MOV
photo/IMG_0658.MOV
photo/IMG_0660.HEIC
photo/IMG_0660.jpg
photo/IMG_0663.HEIC
photo/IMG_0663.jpg
photo/IMG_0675.HEIC
photo/IMG_0675.jpg
photo/IMG_0679.HEIC
photo/IMG_0679.jpg
photo/IMG_0680.MOV
photo/IMG_0680.mp4
photo/IMG_0685.HEIC
photo/IMG_0685.jpg
photo/IMG_0691.HEIC
photo/IMG_0694.HEIC
photo/IMG_0694.jpg
photo/IMG_0696.MOV
photo/IMG_0700.MOV
photo/IMG_0700.mp4
photo/IMG_0702.MOV
photo/IMG_0702.mp4
photo/IMG_0703.HEIC
photo/IMG_0703.jpg
photo/IMG_0708.MOV
photo/IMG_0709.MOV
photo/IMG_0716.HEIC
photo/IMG_0725.HEIC
photo/IMG_0725.jpg
photo/IMG_0730.HEIC
photo/IMG_0730.jpg
photo/IMG_0742.HEIC
photo/IMG_0826.HEIC
photo/IMG_0826.jpg
photo/IMG_0836.HEIC
photo/IMG_0836.jpg
photo/IMG_0840.HEIC
photo/IMG_0840.jpg
photo/IMG_0841.HEIC
photo/IMG_0845.HEIC
photo/IMG_0855.HEIC
photo/IMG_0855.jpg
photo/IMG_0863.HEIC
photo/IMG_0863.jpg
photo/IMG_0888.HEIC
photo/IMG_0890.HEIC
photo/IMG_0891.HEIC
photo/IMG_0927.HEIC
photo/IMG_0952.HEIC
photo/IMG_0956.HEIC
photo/IMG_1151.HEIC
photo/IMG_1151.jpg
